.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.font-size-sd {
  font-size: 12px;
}

.font-size-md {
  font-size: 14px;
}

.font-size-ml {
  font-size: 18px;
}

.font-size-lm {
  font-size: 24px;
}

.rotate-180 {
  rotate: 180deg;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-light-gray {
  background-color: #F5F5F5;
}
.bg-white{
  background-color: white;
}
.bg-dark {
  background-color: black;
}

.bg-blue {
  background-color: #44A6DD;
}

.text-dark {
  color: black;
}

.text-white {
  color: white;
}

.text-orange {
  color: #FF9500;
}

.text-gray {
  color: #6C6C6C;
}

.text-gray-2 {
  color: #565555;
}

.text-gray-3 {
  color: #929292;
}

.text-blue {
  color: #44A6DD;
}

.text-green {
  color: #20B55C;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.text-decoration-underline {
  text-decoration: underline;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.object-fit-cover {
  object-fit: cover;
  border-radius: 6px;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.w-11px {
  width: 11px;
}

.w-12px {
  width: 12px;
}

.w-15px {
  width: 15px;
}

.w-19px {
  width: 19px;
}

.w-25px {
  width: 25px;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.h-143px {
  height: 143px;
}

.rounded-6 {
  border-radius: 6px;
}

.z-10 {
  z-index: 10;
}

.z-9 {
  z-index: 9;
}

.z-8 {
  z-index: 8;
}

.p-6 {
  padding: 6px;
}

.p-13 {
  padding: 13px;
}

.p-30 {
  padding: 30px;
}

.px-26 {
  padding-left: 26px;
  padding-right: 26px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-150 {
  padding-top: 150px;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.pe-0 {
  padding-right: 0px !important;
}

.mt-auto {
  margin-top: auto;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-9 {
  margin-top: 9px;
}

.mt-13 {
  margin-top: 13px !important;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.me-30 {
  margin-right: 30px;
}

.ms-6 {
  margin-left: 6px;
}

.ms-9 {
  margin-left: 9px;
}

.ms-10 {
  margin-left: 10px;
}

.ms-17 {
  margin-left: 17px;
}


.ms-30 {
  margin-left: 30px;
}

.ms-n-30 {
  margin-left: -30px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-25 {
  margin-bottom: 22px;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.666667%
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.header-container {
  padding: 26px;

}

.text-overflow {
  white-space: nowrap;
  width: 380px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-header {
  background: url(images/navbar-bg.png);
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-world-icon {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.signin-button {
  background: white;
  border-radius: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 14px;
}

.filter-container {
  padding: 26px;
}

.filter-div {
  border: 1px solid white;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 65%);
}

.form-style {
  font-size: 13px;
  height: 40px;
  padding-left: 38px;
  padding-right: 12px;
  border: none;
  border-radius: 6px;
  padding-top: 0;
  padding-bottom: 0;
}

.form-style:active,
.form-style:focus {
  border: none;
  outline: none;
}

.input-icon {
  position: absolute;
  left: 10px;

}

.navigation-icon {
  width: 17px;
  top: 9px;

}

.date-icon {
  width: 21px;
  top: 13px;
}

.user-icon {
  width: 21px;
  top: 11px;
}

.filter-select-option {
  border: 1px solid black;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: transparent;
  font-size: 14px;
  margin-right: 10px;
}

.filter-search-button {
  background-color: black;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.filter-title {
  font-size: 26px;
  margin-bottom: 26px;
  margin-left: 39px;
}

.search-angle-icon {
  height: 11px;
  margin-left: 30px;
}

.container {
  padding: 26px;
}

.place-selection-div img {
  width: 31px;
  border: 1px solid #EFEFEF;
  padding-top: 6px;
  border-radius: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
}

.index-hotel-icon {
  width: 18px;
}

.slider {
  margin: 0 10px;
  overflow: hidden;
}

.slider img {
  width: 100%;
}

.see-all-div {
  border: 1px solid #EFEFEF;
  border-radius: 6px;
  padding: 9px;
}

.see-all-button {
  width: 13px;
}

.react-multiple-carousel__arrow {
  border-radius: 6px !important;
  min-height: 32px !important;
  min-width: 32px !important;
  background-color: white !important;
  border: 1px solid #EFEFEF !important;
  top: 30%;
}

.react-multiple-carousel__arrow--right {
  right: 0px !important;
}

.react-multiple-carousel__arrow--left {
  left: 0px !important;
}

.react-multiple-carousel__arrow::before {
  font-size: 15px !important;
  color: black !important;
  font-weight: 700 !important;
}

.campaign-title {
  color: #F8F8F8;
  font-size: 200px;
  text-align: center;
  position: absolute;
  top: -70px;
  width: 100%;
}

.campaign-text {
  position: absolute;
  top: 86px;
  width: 250px;
  text-align: center;
  right: 21px;
  font-size: 25px;
}

.horizantal-center {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.left-center {
  left: 20px;
}

.footer-row {
  border-bottom: 1px solid #929292;
  padding-bottom: 15px;
}

.signup-text {
  background-color: rgba(255, 223, 109, 4%);
  border: 1px solid #FFDF6D;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdown-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #6C6C6C;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #E5E8EC;
}

.dropdown-body {
  padding: 10px;
  display: none;
  padding-top: 5px;
}

.dropdown-body.open {
  display: block;
  background: white;
  margin-top: 5px;
}

.dropdown-item label {
  cursor: pointer;
}

.dropdown-item-dot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91A5BE;
  transform: rotate(0deg);
  transition: all .2s ease-in-out;
  margin-right: 11px;
  ;
}

.icon.open {
  transform: rotate(90deg);
}

input[type='checkbox'] {
  margin: 0;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.list-filter-button {
  border: 1px solid #44A6DD;
  border-radius: 6px;
  color: #44A6DD;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.breadcrumb {
  padding-bottom: 13px;
  border-bottom: 1px solid #6C6C6C;
}

.search-filter {
  height: 45px;
  border-radius: 20px;
  border: 1px solid #6C6C6C;
  padding-left: 21px;
  font-size: 13px;
}

.search-icon {
  right: 28px;
  top: 12px;
  width: 20px;
}

.list-img {
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.detail-list-img {
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.no-data {
  padding: 10px;
  background-color: #f410101c;
  border: 1px solid #ff4545;
  border-radius: 6px;
  font-size: 15px;
  color: #ff4545;
  margin-top: 11px;
}

.react-tabs__tab--selected {
  font-weight: 600;
}

.hotel-info-div {
  background-color: #e5fdff;
  padding: 8px;
  border-radius: 6px;
  border: 1px dashed #084fab;
  color: #084fab;
  font-size: 14px;
  text-align: center;
}

.hotel-info-div-2 {
  background-color: #1db8871c;
  padding: 8px;
  border-radius: 6px;
  border: 1px dashed #0c8a62;
  color: #0c8a62;
  font-size: 14px;
  text-align: center;
}

.info-hotel-detail {
  border-bottom: 1px solid #6C6C6C;
  padding-bottom: 13px;
}

.room-detail {
  border-bottom: 1px solid #6C6C6C;
  padding-bottom: 6px;
}
.mobile-menu{
  background: transparent;
  border: 0;
  color: white;
  font-size: 25px;
}
.mobile-side-menu{
  right: 16px;
  top: 60px;
  width: 240px;
  padding: 15px;
  border-radius: 6px;

}
.mobile-side-menu a{
  border-bottom: 1px solid #afafaf;
  padding-bottom: 6px;
  padding-top: 6px;
}
.mobile-side-menu div a{
  border-bottom: none;
}
@media (min-width: 992px) {
  .d-lg-block {
      display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-none {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 5px;
  }
  .index-header{
    height: 300px;
  }
}