html{
  height: 100%;
}

body {
  margin: 0;

}
*, ::after, ::before {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
::placeholder {
  color: #7E7E7E;
}
.roboto-slab{
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  color: white;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
#root{
  margin: 20px;
}
